# WineQuality

### Load the data

1. Load wine data from the two source files winequality-red.xlsx and winequalitywhite.xslx, which you can find in the Data Science repository on Github: https://github.com/datsoftlyngby/dat2024spring-bi/tree/main/data.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [3]:
dfr = pd.read_excel("./data/winequality-red.xlsx", index_col=None, na_values=["NA"])
dfw = pd.read_excel("./data/winequality-white.xlsx", index_col=None, na_values=["NA"])

2. Clean the data in both files.

In [4]:
dfr.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
dfw.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

3. Aggregate the two files in one still keeping the identity of each wine type - “red” or “white”.

In [6]:
dfr['wine_type'] = 'red'
dfw['wine_type'] = 'white'

combined_df = pd.concat([dfr, dfw])

# Reset index
combined_df.reset_index(drop=True, inplace=True)

In [7]:
combined_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
combined_df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [9]:
combined_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
4298,6.9,0.30,0.25,3.3,0.041,26.0,124.0,0.99428,3.18,0.50,9.3,6,white
314,7.4,0.36,0.29,2.6,0.087,26.0,72.0,0.99645,3.39,0.68,11.0,5,red
5926,6.4,0.24,0.26,8.2,0.054,47.0,182.0,0.99538,3.12,0.50,9.5,5,white
4171,7.0,0.14,0.28,1.3,0.026,10.0,56.0,0.99352,3.46,0.45,9.9,5,white
2824,6.8,0.32,0.37,3.4,0.023,19.0,87.0,0.99020,3.14,0.53,12.7,6,white
3196,6.4,0.27,0.49,7.3,0.046,53.0,206.0,0.99560,3.24,0.43,9.2,6,white
2412,6.5,0.26,0.32,16.5,0.045,44.0,166.0,1.00000,3.38,0.46,9.5,6,white
339,12.5,0.28,0.54,2.3,0.082,12.0,29.0,0.99970,3.11,1.36,9.8,7,red
2335,6.6,0.25,0.30,14.4,0.052,40.0,183.0,0.99800,3.02,0.50,9.1,6,white
3901,6.0,0.26,0.18,7.0,0.055,50.0,194.0,0.99591,3.21,0.43,9.0,5,white

### Explore the data

4. Explore the features of the original and the new files:
 - number of rows and columns
 - type of data in each column

In [10]:
combined_df.shape

(6497, 13)

In [11]:
combined_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
wine_type                object
dtype: object

5. Calculate the descriptive statistics of the numeric data. Is the data normally distributed?

In [13]:
combined_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

6. Plot diagrams that visualize the differences in red and white wine samples. Use it as a support for
answering the following questions:
a. what exactly is shown on the diagrams?
b. after seeing it, can you tell which type of wine has higher average quality?
c. which type of wine has higher average level of alcohol?
d. which one has higher average quantity of residual sugar?

7. Which other questions might be of interest for the wine consumers or distributers?

8. Split the aggregated data into five subsets by binning the attribute pH. Identify the subset with
the highest density? What if you split the data in ten subsets?

9. Create a heat map or a correlation matrix of all data and investigate it. Can you tell which vine
attribute has the biggest influence on the wine quality? Which has the lowest?
Do you get the same results when you analyze the red and white wine data sets separately?

### Prepare the data for further analysis

10. Explore the feature ‘residual sugar’. Is there any outlier (a value much different from the rest)?
On which row is it found? Remove that row.

11. Identify the attribute with the lowest correlation to the wine quality and remove it.

12. Transform the categorical data into numeric.

13. Try to reduce the number of features of the aggregated data set by applying principal
component analysis (PCA). What is the optimal number of components?

14. Print out ten random rows from the final dataset as a prove of concept.

In [12]:
combined_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
4030,6.3,0.290,0.14,7.05,0.045,50.0,177.0,0.99564,3.23,0.42,9.0,5,white
113,10.1,0.310,0.44,2.30,0.080,22.0,46.0,0.99880,3.32,0.67,9.7,6,red
1472,7.6,0.350,0.60,2.60,0.073,23.0,44.0,0.99656,3.38,0.79,11.1,6,red
3855,7.1,0.140,0.35,1.40,0.039,24.0,128.0,0.99212,2.97,0.68,10.4,5,white
1423,6.4,0.530,0.09,3.90,0.123,14.0,31.0,0.99680,3.50,0.67,11.0,4,red
4830,6.8,0.210,0.37,7.00,0.038,27.0,107.0,0.99206,2.98,0.82,11.5,6,white
2567,6.5,0.080,0.33,1.90,0.028,23.0,93.0,0.99100,3.34,0.70,12.0,7,white
442,15.6,0.685,0.76,3.70,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7,red
2908,9.4,0.170,0.55,1.60,0.049,14.0,94.0,0.99490,3.02,0.61,10.3,6,white
3382,8.7,0.450,0.40,1.50,0.067,17.0,100.0,0.99570,3.27,0.57,10.1,6,white