# WineQuality

### Load the data

1. Load wine data from the two source files winequality-red.xlsx and winequalitywhite.xslx, which you can find in the Data Science repository on Github: https://github.com/datsoftlyngby/dat2024spring-bi/tree/main/data.

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [11]:
dfr = pd.read_excel("./data/winequality-red.xlsx", index_col=None, na_values=["NA"])
dfw = pd.read_excel("./data/winequality-white.xlsx", index_col=None, na_values=["NA"])

2. Clean the data in both files.

In [12]:
dfr.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
dfw.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

3. Aggregate the two files in one still keeping the identity of each wine type - “red” or “white”.

In [14]:
dfr['wine_type'] = 'red'
dfw['wine_type'] = 'white'

combined_df = pd.concat([dfr, dfw])

# Reset index
combined_df.reset_index(drop=True, inplace=True)

In [15]:
combined_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [16]:
combined_df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [18]:
combined_df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_type
6408,6.0,0.26,0.24,1.30,0.053,66.0,150.0,0.99240,3.21,0.62,10.4,6,white
3614,6.9,0.19,0.39,8.00,0.028,22.0,84.0,0.99400,3.11,0.66,10.8,6,white
6368,6.8,0.27,0.30,13.00,0.047,69.0,160.0,0.99705,3.16,0.50,9.6,6,white
6258,6.6,0.25,0.25,1.30,0.040,28.0,85.0,0.98984,2.87,0.48,11.2,6,white
1203,9.9,0.74,0.19,5.80,0.111,33.0,76.0,0.99878,3.14,0.55,9.4,5,red
5967,6.5,0.30,0.28,11.45,0.041,29.0,109.0,0.99418,2.98,0.30,10.9,6,white
2652,9.4,0.29,0.55,2.20,0.050,17.0,119.0,0.99620,3.12,0.69,10.3,4,white
36,7.8,0.60,0.14,2.40,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6,red
3370,6.5,0.18,0.26,1.40,0.041,40.0,141.0,0.99410,3.34,0.72,9.5,6,white
2755,7.8,0.30,0.29,16.85,0.054,23.0,135.0,0.99980,3.16,0.38,9.0,6,white

### Explore the data

4. Explore the features of the original and the new files:
 - number of rows and columns
 - type of data in each column

In [20]:
combined_df.shape

(6497, 13)

In [22]:
combined_df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
wine_type                object
dtype: object

5. Calculate the descriptive statistics of the numeric data. Is the data normally distributed?

6. Plot diagrams that visualize the differences in red and white wine samples. Use it as a support for
answering the following questions:
a. what exactly is shown on the diagrams?
b. after seeing it, can you tell which type of wine has higher average quality?
c. which type of wine has higher average level of alcohol?
d. which one has higher average quantity of residual sugar?

7. Which other questions might be of interest for the wine consumers or distributers?

8. Split the aggregated data into five subsets by binning the attribute pH. Identify the subset with
the highest density? What if you split the data in ten subsets?

9. Create a heat map or a correlation matrix of all data and investigate it. Can you tell which vine
attribute has the biggest influence on the wine quality? Which has the lowest?
Do you get the same results when you analyze the red and white wine data sets separately?

### Prepare the data for further analysis

10. Explore the feature ‘residual sugar’. Is there any outlier (a value much different from the rest)?
On which row is it found? Remove that row.

11. Identify the attribute with the lowest correlation to the wine quality and remove it.

12. Transform the categorical data into numeric.

13. Try to reduce the number of features of the aggregated data set by applying principal
component analysis (PCA). What is the optimal number of components?

14. Print out ten random rows from the final dataset as a prove of concept.